.header {
    margin-top: 1em;
}
.listDiv {
    margin-top: 5em;
}
.listItem {
padding: 0.5em 0.5em;
background-color: lightgreen;
margin: 1em auto;
width: 30%;
border-radius: 15px;
cursor: grab;
}
.itemTxt {
    font-weight: bold;
    padding: 0.25em;
}
